<footer class="footer ">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy;
            2019, made with love by
            <a href="" target="_blank">Algoritmia</a> for a better web.
        </div>
    </div>
</footer>
