<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> {{message| uppercase}}</h4>
                        <p class="card-category">{{message1}}</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <th>
                                    Consecutivo
                                </th>
                                <th>
                                    Tipo documento
                                </th>
                                <th>
                                    Cédula
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Ciudad
                                </th>
                                <th>
                                    Salario
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Fecha
                                </th>
                                 <th>
                                    Editar
                                </th> 
                                 <th>
                                    Eliminar
                                </th> 
                                </thead>
                                <tbody>
                                <tr *ngFor="let solicitud of solicituds" >
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        EL{{solicitud.id}}
                                    </td>
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        {{solicitud.type_document.nombre}}
                                    </td>
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        {{solicitud.documento}}
                                    </td>
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        {{solicitud.nombre}}
                                    </td>
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        {{solicitud.telefono}}
                                    </td>
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        {{solicitud.direcion}}
                                    </td>
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        {{solicitud.salario|currency}}
                                    </td>
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        {{solicitud.estado}}
                                    </td>
                                    <td [routerLink]="'/admin/view/'+solicitud.id">
                                        {{solicitud.created_at}}
                                    </td>
                                    <td>
                                        <i class="material-icons" (click)="opendialog1(solicitud.id)">
                                        create
                                        </i>
                                    </td>
                                    <td>
                                       <i class="material-icons" (click)="openDialog(solicitud.id)">
                                        delete
                                        </i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
