<div mat-dialog-content style="margin: 6px; padding: 0;">
  <p style="text-align: center; color:black; font-family: 'Oswald', sans-serif;">Esta seguro/a de que desea eliminar el registro ?</p>
</div>
<div mat-dialog-actions style="margin: 6px;  display:flex;justify-content: space-around;">

  <button mat-button [mat-dialog-close] style=" background:red; color:white; width: 10%; font-size: 1rem;">No</button>
  
   <button mat-stroked-button color="warn" (click)="deleteService()" style=" width: 10%; font-size: 1rem;">Si</button>
</div>
