<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group" style="width: 20%; margin-left: 10px">
                <label for="exampleFormControlSelect2">Fecha: {{solicitud.created_at}}</label>
                <select class="form-control" id="exampleFormControlSelect2" (change)="change()"
                        [(ngModel)]="estado">
                        <option value="En espera"> En proceso</option>
                    <option value="Aprobado"> Aprobado</option>
                    <option value="Rechazado"> Rechazado</option>
                </select>
            </div>
        </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Detalles solicitud</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="card-title">Datos personales</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Nombre: <strong>{{solicitud?.nombre}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Documento: <strong>{{solicitud?.documento}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Lugar exp: <strong>{{solicitud?.lugar_expedicion}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Fecha exp: <strong>{{solicitud?.fecha_expedicion}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Fecha nac: <strong>{{solicitud?.fecha_nacimiento}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Estado civil: <strong>{{solicitud?.civil_status.nombre}}</strong></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="card-title">Datos de localización</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Dirección: <strong>{{solicitud?.direcion}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Barrio: <strong>{{solicitud?.barrio}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Tipo residencia: <strong>{{solicitud?.house_type.nombre}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Teléfono: <strong>{{solicitud?.telefono}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Correo: <strong>{{solicitud?.correo}}</strong></h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <h2 class="card-title">Datos laborales</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Salario: <strong>{{solicitud?.salario | currency}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Profesión: <strong>{{solicitud?.profesion}}</strong></h4>
                                    </div>
                                    <div class="col-md-6" *ngIf="solicitud.empleado">
                                        <h4>Empresa: <strong>{{solicitud?.empresa}}</strong></h4>
                                    </div>
                                    <div class="col-md-6" *ngIf="solicitud.empleado">
                                        <h4>Cargo: <strong>{{solicitud?.cargo}}</strong></h4>
                                    </div>
                                    <div class="col-md-6" *ngIf="solicitud.empleado">
                                        <h4>Dirección empresa: <strong>{{solicitud?.direcion_empresa}}</strong></h4>
                                    </div>
                                    <div class="col-md-6" *ngIf="solicitud.empleado">
                                        <h4>Fecha ingreso: <strong>{{solicitud?.tiempo_servicio}}</strong></h4>
                                    </div>
                                    <div class="col-md-6" *ngIf="solicitud.empleado">
                                        <h4>Telefono Empresa: <strong>{{solicitud?.telefono_trabajo}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Actividad economica: <strong>{{solicitud?.actividad_independiente}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Otros ingresos: <strong>{{solicitud?.otros_ingresos | currency}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Procedencia ingresos: <strong>{{solicitud?.procedencia}}</strong></h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6" *ngIf="show">
                                <h2 class="card-title">Datos cónyuge</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Nombre: <strong>{{solicitud?.spouse.nombre_conyuge}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Documento: <strong>{{solicitud?.spouse.numero_documento_conyuge}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Teléfono: <strong>{{solicitud?.spouse.telefono}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Empresa: <strong>{{solicitud?.spouse.trabajo}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Salario: <strong>{{solicitud?.spouse.salario | currency}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Actividad economica: <strong>{{solicitud?.spouse.clase_actividad}}</strong></h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <h2 class="card-title">Referencia 1</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Nombre: <strong>{{solicitud?.references[0].nombre}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Dirección: <strong>{{solicitud?.references[0].direccion}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Telefono: <strong>{{solicitud?.references[0].telefono}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Ciudad: <strong>{{solicitud?.references[0].ciudad}}</strong></h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <h2 class="card-title">Referencia 2</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Nombre: <strong>{{solicitud?.references[1].nombre}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Dirección: <strong>{{solicitud?.references[1].direccion}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Telefono: <strong>{{solicitud?.references[1].telefono}}</strong></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Ciudad: <strong>{{solicitud?.references[1].ciudad}}</strong></h4>
                                    </div>
                                </div>

                    </div>
                    <div class="col-md-12">
                        <h2 class="card-title">Vendedor</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Nombre Vendedor: <strong>{{solicitud?.vendedor}}</strong></h4>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
