body {
    overflow: hidden;
}

#left, #right {
    border-radius: 0%;
    height: 100vh;
}

/* .title_r{
    margin-left: 43%;
    margin-top: 8.9%;
    margin-left: 30%;
} */
.ico {
    font-size: 140px;
    color: gold;
}

.texto1 {
    color: white;
    font-size: 60px;
    border-bottom: ridge;
    border-bottom-color: white;
    height: 70px;
}

.logoMP {
    display: flex;
}

/* .mr_left{
    margin-top: 8%;
}   */

.content, .ca-body {
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
