<div class="container-fluid">
    <div class="row">

        <div class="col-xl-8 col-sm-6 col-md-8 col-lg-8 p-0">
            <div class="card " id="left" style="background: #CB0000;margin: 0 !important;">
                <div class="mr_left">
                </div>
                <div class="card-body ca-body">
                    <div class="logoMP">
                        <img src="/assets/img/logo.png" alt="" height="512" width="512">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-md-4 col-lg-4 p-0">
            <div class="card" id="right" style="margin: 0 !important;">
                <div class="card-header">
                    <h2 class="card-title">Login</h2>
                </div>
                <div class="card-body content">
                    <form (submit)="auth()">
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-xl-12">
                                <input type="text" class="form-control" autofocus placeholder="Ingrese su usuario"
                                       id="usuario" [(ngModel)]="data.usuario" name="usuario" required>
                            </div>
                            <div class="form-group col-sm-12 col-xl-12">
                                <input type="password" class="form-control" placeholder="Ingrese su contraseña"
                                       id="password" [(ngModel)]="data.contrasena" name="contrasena"
                                       required>
                            </div>
                            <div class="form-group col-sm-12 col-xl-12">
                                <button type="submit" class="btn btn btn-block text-white" style="background: #CB0000">
                                    Ingresar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
