<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group" style="width: 20%; margin-left: 10px">
                <label for="exampleFormControlSelect2">Año</label>
                <select class="form-control" id="exampleFormControlSelect2" (change)="change()" [(ngModel)]="ano">
                    <option *ngFor="let anos of anoArray" value="{{anos}}">{{anos | uppercase}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="cursor: pointer" [routerLink]="'/admin/solicitudes/todos/'+ano">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info</i>
                        </div>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{total}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">local_offer</i> Total de las solicitudes realizadas
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="cursor: pointer" [routerLink]="'/admin/solicitudes/En espera/'+ano">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">warning</i>
                        </div>
                        <p class="card-category">En espera</p>
                        <h3 class="card-title">{{totalEspera}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">warning</i>
                            <a [routerLink]="'/admin/solicitudes/En espera/'+ano">Total de solicitudes en espera</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="cursor: pointer" [routerLink]="'/admin/solicitudes/Aprobado/'+ano">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <p class="card-category">Aprobadas</p>
                        <h3 class="card-title">{{totalAprobado}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">check</i> Total de solicitudes aprobadas
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="cursor: pointer" [routerLink]="'/admin/solicitudes/Rechazado/'+ano">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cancel</i>
                        </div>
                        <p class="card-category">No aprobadas</p>
                        <h3 class="card-title">{{totalNegado}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">cancel</i> Total de solicitudes rechazadas
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header">
                        <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                [colors]="chartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
