<div class="content-titlle">
  <p class="tittle">Autorización de manejo de datos</p>
</div>
<div class="content-permissions-after">
  <div class="content-permissions">
    <p class="content-politics">
      Esta solicitud esta sujeta a la revisión de nuestro departamento de cartera y de los archivos de data crédito; en
      caso de negación del crédito, no estamos obligados a dar información de esta decisión. Autorizo a ALMACENES EL
      PUNTO y/o CARLOS ALBERTO PEREA, ESTACIÓN DE SERVICIO EL BORDADO S.A., GRUPO EMPRESARIAL EL PUNTO DE COLOMBIA
      S.A.S., ALVARO PEREA Ltda. y/o DataCrédito, para verificar esta información y referencias relativas a mi persona,
      a mi comportamiento y crédito comercial; hábitos de pago, manejo de mi(s) cuenta(s) y en general el cumplimiento
      de mis obligaciones; igualmente autorizo para que mi nombre y/o razón social sea incluido en cualquier banco de
      datos y se le suministre esta información.
    </p>
  </div>
</div>
<div class="button-actions">
  <div>
    <button type="button" class="btn btn-success" [mat-dialog-close]="tmp">
      Permitir
    </button>
  </div>
</div>
