.content-titlle {
  width: 100%;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tittle {
  width: 80%;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

.button-actions {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-permissions-after {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  overflow-y: auto;
}

.content-permissions {
  width: 80%;
  height: 20vh;
}

.btn {
  width: 60vw;
  border-radius: 50px;
}

.content-politics {
  font-size: .9rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and(max-width: 768px) {
  .btn {
    width: 233px;
    border-radius: 50px;
  }
  .tittle {
    font-size: 1rem;
  }
  .content-titlle {
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
  }
  .content-politics {
    text-align: justify;
    font-size: .8rem;
  }
}
