.input {
  width: 73vw;
  margin: 10px 0 10px 0;
  @media only screen and (min-width: 768px) {
    width: 36.5vw;
    margin: 10px;
    font-weight:bold;
    font-size: 1.5em;
  }
}

.button {
  width: 40%;
  margin-left: 10%;
}

.button2 {
  width: 46%;
  margin-left: 3%;
}

.images {
  width: 97%;
  margin-left: 3%;
  height: 185.2px;
  @media only screen and(min-width: 768px) {
  height: 650px;
  }
}


.cpda{
  width: 97%;
  height: 60px;
  margin-left: 3%;

}

.linea{
  position: relative;
  top: 50%;
  background: #F2F2F2;
  width: 98%;
  height: 5px;
}

.titulo{
  background: white;
  width: 97%;
  height: 40px;
  margin-left: 3%;
  font-weight: bolder;
}

.foto{
  color: black;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.2rem;
}


.snapshot {
  display: flex;
  margin: 10px 0;
  flex-direction:column;

  & > div {
    width: 90%;



    & > button {
      width: 97%;
      margin-left: 2%;
      font-size: 1.3rem;
      font-weight: 900;
    }
  }
}

.inicio{
  background-color: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.inicio2{
  font-weight:bold;
  color:black;
  margin-left: 4%;
  border-color: red;
}

.content-habeas-data {
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  text-align: center;
}
