<mat-toolbar class="inicio">
  <img src="/assets/images/logo.png" alt="" height="60" width="60">
  <h1>Solicitud de CréditoYA</h1>
</mat-toolbar>
<mat-toolbar  >
  <h1 class="inicio2">Inicia tu vida crediticia</h1>
</mat-toolbar>
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos personales</ng-template>
      <mat-form-field class="input">
        <mat-select placeholder="Selecione tipo de documento" required formControlName="type_document_id">
          <mat-option *ngFor="let document of documents" value="{{document.id}}">{{document.nombre}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="firstFormGroup.controls.type_document_id.touched  || firstFormGroup.controls.type_document_id.errors?.pattern">
          Selecione un tipo de documento
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput #documento maxlength="20" placeholder="Ingrese el número de documento"
               formControlName="documento" required type="number">
        <mat-hint align="end">{{documento.value?.length || 0}}/20</mat-hint>
        <mat-error
          *ngIf="firstFormGroup.controls.documento.touched  || firstFormGroup.controls.documento.errors?.pattern">
          Ingrese un numero de documento valido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput #lugar_expedicion maxlength="20" type="text" placeholder="Ingrese el lugar de expedición"
               formControlName="lugar_expedicion" required>
        <mat-hint align="end">{{lugar_expedicion.value?.length || 0}}/20</mat-hint>
        <mat-error
          *ngIf="firstFormGroup.controls.lugar_expedicion.touched  || firstFormGroup.controls.lugar_expedicion.errors?.pattern">
          Ingrese un lugar de expedición valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput placeholder="Selecione la fecha de expedición" [matDatepicker]="fecha_expedicion"
               formControlName="fecha_expedicion" disabled required>
        <mat-datepicker-toggle matSuffix [for]="fecha_expedicion"></mat-datepicker-toggle>
        <mat-datepicker #fecha_expedicion disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #nombre placeholder="Nombre completo" maxlength="100" type="text" formControlName="nombre"
               required>
        <mat-hint align="end">{{nombre.value?.length || 0}}/100</mat-hint>
        <mat-error *ngIf="firstFormGroup.controls.nombre.touched  || firstFormGroup.controls.nombre.errors?.pattern">
          Ingrese el nombre completo
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput placeholder="Selecione la fecha de nacimiento" [matDatepicker]="fecha_nacimiento"
               formControlName="fecha_nacimiento" disabled required>
        <mat-datepicker-toggle matSuffix [for]="fecha_nacimiento"></mat-datepicker-toggle>
        <mat-datepicker #fecha_nacimiento disabled="false"></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="input">
        <mat-select placeholder="Selecione el estado civil" required formControlName="civil_status_id"
                    (valueChange)="changeStatus()">
          <mat-option *ngFor="let state of status" value="{{state.id}}">{{state.nombre}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="firstFormGroup.controls.civil_status_id.touched  || firstFormGroup.controls.civil_status_id.errors?.pattern">
          Selecione un estado civil
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="firstFormGroup.invalid" mat-raised-button color="warn">Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Datos de localización</ng-template>

      <mat-form-field class="input">
        <input matInput #direcion maxlength="50" type="text" placeholder="Ingrese su direccion"
               formControlName="direcion" required>
        <mat-hint align="end">{{direcion.value?.length || 0}}/50</mat-hint>
        <mat-error
          *ngIf="secondFormGroup.controls.direcion.touched  || secondFormGroup.controls.direcion.errors?.pattern">
          La dirección es requerida
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #barrio maxlength="30" type="text" placeholder="Ingrese su barrio"
               formControlName="barrio" required>
        <mat-hint align="end">{{barrio.value?.length || 0}}/30</mat-hint>
        <mat-error
          *ngIf="secondFormGroup.controls.barrio.touched  || secondFormGroup.controls.barrio.errors?.pattern">
          La dirección es requerida
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-select placeholder="Selecione el tipo de residencia" required formControlName="house_type_id">
          <mat-option *ngFor="let house of houses" value="{{house.id}}">{{house.nombre}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="secondFormGroup.controls.house_type_id.touched  || secondFormGroup.controls.house_type_id.errors?.pattern">
          Selecione un tipo de residencia
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput #telefono maxlength="30" type="number" placeholder="Ingrese su telefono"
               formControlName="telefono" required>
        <mat-hint align="end">{{telefono.value?.length || 0}}/30</mat-hint>
        <mat-error
          *ngIf="secondFormGroup.controls.telefono.touched  || secondFormGroup.controls.telefono.errors?.pattern">
          Ingrese un numero de telefono valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #correo maxlength="50" type="email" placeholder="Ingrese su correo"
               formControlName="correo">
        <mat-hint align="end">{{correo.value?.length || 0}}/50</mat-hint>
        <mat-error
          *ngIf="secondFormGroup.controls.correo.touched  || secondFormGroup.controls.correo.errors?.pattern">
          Ingrese un correo valido
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious mat-raised-button color="primary" class="button">Atrás</button>
        <button mat-button matStepperNext mat-raised-button color="warn" class="button"
                [disabled]="secondFormGroup.invalid">Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirstFormGroup">
    <form [formGroup]="thirstFormGroup">
      <ng-template matStepLabel>Datos laborales</ng-template>

      <mat-slide-toggle
        class="example-margin input"
        [checked]="checked" (toggleChange)="changeWork()">
        Trabaja?
      </mat-slide-toggle>

      <mat-form-field class="input" *ngIf="checked">
        <input matInput #profesion maxlength="30" type="text" placeholder="Ingrese su profesión"
               formControlName="profesion" required>
        <mat-hint align="end">{{profesion.value?.length || 0}}/30</mat-hint>
        <mat-error
          *ngIf="thirstFormGroup.controls.profesion.touched  || thirstFormGroup.controls.profesion.errors?.pattern">
          La profesión es requerida
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input" *ngIf="checked">
        <input matInput #empresa maxlength="40" type="text" placeholder="Ingrese la empresa donde trabaja"
               formControlName="empresa" required>
        <mat-hint align="end">{{empresa.value?.length || 0}}/40</mat-hint>
        <mat-error
          *ngIf="thirstFormGroup.controls.empresa.touched  || thirstFormGroup.controls.empresa.errors?.pattern">
          La empresa es requerida
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input" *ngIf="checked">
        <input matInput #cargo maxlength="30" type="text" placeholder="Ingrese su cargo"
               formControlName="cargo" required>
        <mat-hint align="end">{{cargo.value?.length || 0}}/30</mat-hint>
        <mat-error
          *ngIf="thirstFormGroup.controls.cargo.touched  || thirstFormGroup.controls.cargo.errors?.pattern">
          El cargo es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input" *ngIf="checked">
        <input matInput #direcion_empresa maxlength="30" type="text" placeholder="Ingrese  la dirección de la empresa"
               formControlName="direcion_empresa" required>
        <mat-hint align="end">{{direcion_empresa.value?.length || 0}}/30</mat-hint>
        <mat-error
          *ngIf="thirstFormGroup.controls.direcion_empresa.touched  || thirstFormGroup.controls.direcion_empresa.errors?.pattern">
          La dirección es requerida
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input" *ngIf="checked">
        <input matInput placeholder="Selecione la fecha de ingreso" [matDatepicker]="tiempo_servicio"
               formControlName="tiempo_servicio" disabled required>
        <mat-datepicker-toggle matSuffix [for]="tiempo_servicio"></mat-datepicker-toggle>
        <mat-datepicker #tiempo_servicio disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input" *ngIf="checked">
        <input matInput #telefono_trabajo maxlength="30" type="number" placeholder="Ingrese el telefono de la empresa"
               formControlName="telefono_trabajo" required>
        <mat-hint align="end">{{telefono_trabajo.value?.length || 0}}/30</mat-hint>
        <mat-error
          *ngIf="thirstFormGroup.controls.telefono_trabajo.touched  || thirstFormGroup.controls.telefono_trabajo.errors?.pattern">
          El telefono no es valido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input" *ngIf="!checked">
        <input matInput #actividad_independiente maxlength="30" type="text" placeholder="Ingrese su actividad economica"
               formControlName="actividad_independiente" required>
        <mat-hint align="end">{{actividad_independiente.value?.length || 0}}/30</mat-hint>
        <mat-error
          *ngIf="thirstFormGroup.controls.actividad_independiente.touched  || thirstFormGroup.controls.actividad_independiente.errors?.pattern">
          La Actividad es requerida
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput placeholder="Ingrese su salario" type="number" formControlName="salario" required>
        <mat-error
          *ngIf="thirstFormGroup.controls.salario.touched  || thirstFormGroup.controls.salario.errors?.pattern">
          El salario es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput placeholder="Otros ingresos" type="number"
               formControlName="otros_ingresos">
        <mat-error
          *ngIf="thirstFormGroup.controls.otros_ingresos.errors?.pattern">
          ingrese solo numeros
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #procedencia maxlength="30" type="text"
               placeholder="Ingrese la procedencia de los otros ingresos"
               formControlName="procedencia">
        <mat-hint align="end">{{procedencia.value?.length || 0}}/30</mat-hint>
      </mat-form-field>


      <div>
        <button mat-button matStepperPrevious mat-raised-button color="primary" class="button">Atrás</button>
        <button mat-button matStepperNext mat-raised-button color="warn" class="button"
                [disabled]="thirstFormGroup.invalid">Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourstFormGroup" *ngIf="conyuge">
    <form [formGroup]="fourstFormGroup">
      <ng-template matStepLabel>Datos cónyuge</ng-template>

      <mat-form-field class="input">
        <input matInput #nombre_conyuge maxlength="100" type="texts" placeholder="Ingrese el nombre del cónyuge"
               formControlName="nombre_conyuge" required>
        <mat-hint align="end">{{nombre_conyuge.value?.length || 0}}/100</mat-hint>
        <mat-error
          *ngIf="fourstFormGroup.controls.nombre_conyuge.touched  || fourstFormGroup.controls.nombre_conyuge.errors?.pattern">
          el nombre del cónyuge es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #numero_documento_conyuge maxlength="20" type="number" placeholder="Ingrese documento cónyuge"
               formControlName="numero_documento_conyuge" required>
        <mat-hint align="end">{{numero_documento_conyuge.value?.length || 0}}/20</mat-hint>
        <mat-error
          *ngIf="fourstFormGroup.controls.numero_documento_conyuge.touched  || fourstFormGroup.controls.numero_documento_conyuge.errors?.pattern">
          El numero documento no es valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #telefono maxlength="20" placeholder="Ingrese número telefono" type="number"
               formControlName="telefono">
        <mat-hint align="end">{{telefono.value?.length || 0}}/20</mat-hint>
        <mat-error
          *ngIf="fourstFormGroup.controls.telefono.touched  || fourstFormGroup.controls.telefono.errors?.pattern">
          El telefono no es valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #trabajo maxlength="40" placeholder="Ingrese empresa donde trabaja" type="text"
               formControlName="trabajo">
        <mat-hint align="end">{{trabajo.value?.length || 0}}/40</mat-hint>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput placeholder="Ingrese su salario" type="number"
               formControlName="salario" required>
        <mat-error
          *ngIf="fourstFormGroup.controls.salario.touched  || fourstFormGroup.controls.salario.errors?.pattern">
          El salario es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #clase_actividad maxlength="40" type="text" placeholder="Ingrese actividad economica"
               formControlName="clase_actividad">
        <mat-hint align="end">{{clase_actividad.value?.length || 0}}/40</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious mat-raised-button color="primary" class="button">Atrás</button>
        <button mat-button matStepperNext mat-raised-button color="warn" class="button"
                [disabled]="fourstFormGroup.invalid">Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fiveFormGroup">
    <form [formGroup]="fiveFormGroup">
      <ng-template matStepLabel>Datos Referencia</ng-template>
      <h1>Referencia 1</h1>
      <mat-form-field class="input">
        <input matInput #nombre maxlength="100" type="text" placeholder="Ingrese el nombre "
               formControlName="nombre" required>
        <mat-hint align="end">{{nombre.value?.length || 0}}/100</mat-hint>
        <mat-error
          *ngIf="fiveFormGroup.controls.nombre.touched  || fiveFormGroup.controls.nombre.errors?.pattern">
          el nombre es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #direccion maxlength="50" placeholder="Ingrese la dirección"
               formControlName="direccion" required (change)="change(direccion.value,direccion1.value)">
        <mat-hint align="end">{{direccion.value?.length || 0}}/50</mat-hint>
        <mat-error
          *ngIf="fiveFormGroup.controls.direccion.touched  || fiveFormGroup.controls.direccion.errors?.pattern">
          La dirección es requerida
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #telefono maxlength="20" type="number" placeholder="Ingrese número telefono"
               formControlName="telefono" required>
        <mat-hint align="end">{{telefono.value?.length || 0}}/20</mat-hint>
        <mat-error
          *ngIf="fiveFormGroup.controls.telefono.touched  || fiveFormGroup.controls.telefono.errors?.pattern">
          El telefono no es valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #ciudad maxlength="20" type="text" placeholder="Ingrese la ciudad"
               formControlName="ciudad" required>
        <mat-hint align="end">{{ciudad.value?.length || 0}}/20</mat-hint>
        <mat-error
          *ngIf="fiveFormGroup.controls.ciudad.touched  || fiveFormGroup.controls.ciudad.errors?.pattern">
          La ciudad es requerida
        </mat-error>
      </mat-form-field>
      <h1>Referencia 2</h1>
      <mat-form-field class="input">
        <input matInput #nombre1 maxlength="100" type="text" placeholder="Ingrese el nombre "
               formControlName="nombre1" required>
        <mat-hint align="end">{{nombre1.value?.length || 0}}/100</mat-hint>
        <mat-error
          *ngIf="fiveFormGroup.controls.nombre1.touched  || fiveFormGroup.controls.nombre1.errors?.pattern">
          el nombre es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #direccion1 maxlength="50" type="text" placeholder="Ingrese la dirección"
               formControlName="direccion1" required (change)="change(direccion1.value,direccion.value)">
        <mat-hint align="end">{{direccion1.value?.length || 0}}/50</mat-hint>
        <mat-error
          *ngIf="fiveFormGroup.controls.direccion1.touched  || fiveFormGroup.controls.direccion1.errors?.pattern">
          La dirección es requerida
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #telefono1 maxlength="20" type="number" placeholder="Ingrese número telefono"
               formControlName="telefono1" required>
        <mat-hint align="end">{{telefono1.value?.length || 0}}/20</mat-hint>
        <mat-error
          *ngIf="fiveFormGroup.controls.telefono1.touched  || fiveFormGroup.controls.telefono1.errors?.pattern">
          El telefono no es valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput #ciudad1 maxlength="20" type="text" placeholder="Ingrese la ciudad"
               formControlName="ciudad1" required>
        <mat-hint align="end">{{ciudad1.value?.length || 0}}/20</mat-hint>
        <mat-error
          *ngIf="fiveFormGroup.controls.ciudad1.touched  || fiveFormGroup.controls.ciudad1.errors?.pattern">
          La ciudad es requerida
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious mat-raised-button color="primary" class="button">Atrás</button>
        <button mat-button matStepperNext mat-raised-button color="warn" class="button"
                [disabled]="fiveFormGroup.invalid || equalAddress">Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="sixFormGroup">
      <ng-template matStepLabel>Confirmación</ng-template>
      <mat-form-field class="input">
        <input matInput #vendedor placeholder="Nombre vendedor" type="text" maxlength="100" formControlName="vendedor"
               required>
        <mat-hint align="end">{{vendedor.value?.length || 0}}/100</mat-hint>
        <mat-error *ngIf="sixFormGroup.controls.vendedor.touched  || sixFormGroup.controls.vendedor.errors?.pattern">
          Ingrese el nombre completo
        </mat-error>
      </mat-form-field>

      <div class="content-habeas-data">
        <span>Al dar clic en "Realizar solicitud", acepta la política de <a href="/assets/files/Privacidad.pdf" target="_blank">Privacidad y manejo de tus datos</a></span>
      </div>
      <div>
        <button mat-button matStepperPrevious mat-raised-button color="primary" class="button2">Atrás</button>
        <button mat-button (click)="request(stepper)" mat-raised-button color="warn" class="button2"
                [disabled]="sixFormGroup.invalid">Realizar solicitud
        </button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
