<div class="card">
    <div class="card-header card-header-danger">
        <h3 class="card-title">Detalles solicitud</h3>
    </div>
    <div class="card-body">
        <div class="row" style="height: 50vh;">
            <div class="row" style=" overflow-y: scroll;  height: -webkit-fill-available;">
                <div class="col-md-6">
                    <h2 class="card-title">Datos personales</h2>
                    <div class="row">
                        <div class="col-md-6" [formGroup]="firstFormGroup">
                            <h4>Nombre:</h4>
                            <mat-form-field class="input">
                                <input matInput #nombre placeholder="Nombre completo" maxlength="100" type="text"
                                       formControlName="nombre"
                                       required>
                                <mat-hint align="end">{{nombre.value?.length || 0}}/100</mat-hint>
                                <mat-error
                                        *ngIf="firstFormGroup.controls.nombre.touched  || firstFormGroup.controls.nombre.errors?.pattern">
                                    Ingrese el nombre completo que va a nodificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="firstFormGroup">
                            <h4>Documento:</h4>
                            <mat-form-field class="input">
                                <input matInput #documento maxlength="20" placeholder="Ingrese el número de documento"
                                       formControlName="documento" required type="number">
                                <mat-hint align="end">{{documento.value?.length || 0}}/20</mat-hint>
                                <mat-error
                                        *ngIf="firstFormGroup.controls.documento.touched  || firstFormGroup.controls.documento.errors?.pattern">
                                    Ingrese un numero de documento que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="firstFormGroup">
                            <h4>Lugar exp:</h4>
                            <mat-form-field class="input">
                                <input matInput #lugar_expedicion maxlength="20" type="text"
                                       placeholder="Ingrese el lugar de expedición"
                                       formControlName="lugar_expedicion" required>
                                <mat-hint align="end">{{lugar_expedicion.value?.length || 0}}/20</mat-hint>
                                <mat-error
                                        *ngIf="firstFormGroup.controls.lugar_expedicion.touched  || firstFormGroup.controls.lugar_expedicion.errors?.pattern">
                                    Ingrese un lugar de expedición que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="firstFormGroup">
                            <h4>Fecha nac:</h4>
                            <mat-form-field class="input">
                                <input matInput placeholder="Selecione la fecha de nacimiento"
                                       [matDatepicker]="fecha_nacimiento"
                                       formControlName="fecha_nacimiento" disabled required>
                                <mat-datepicker-toggle matSuffix [for]="fecha_nacimiento"></mat-datepicker-toggle>
                                <mat-datepicker #fecha_nacimiento disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="firstFormGroup">
                            <h4>Fecha exp:</h4>
                            <mat-form-field class="input">
                                <input matInput placeholder="Selecione la fecha de expedición"
                                       [matDatepicker]="fecha_expedicion"
                                       formControlName="fecha_expedicion" disabled required>
                                <mat-datepicker-toggle matSuffix [for]="fecha_expedicion"></mat-datepicker-toggle>
                                <mat-datepicker #fecha_expedicion disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="card-title">Datos de localización</h2>
                    <div class="row">
                        <div class="col-md-6" [formGroup]="secondFormGroup">
                            <h4>Dirección:</h4>
                            <mat-form-field class="input">
                                <input matInput #direcion maxlength="50" type="text" placeholder="Ingrese su direccion"
                                       formControlName="direcion" required>
                                <mat-hint align="end">{{direcion.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="secondFormGroup.controls.direcion.touched  || secondFormGroup.controls.direcion.errors?.pattern">
                                    Debe ibgresar la dirección que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="secondFormGroup">
                            <h4>Barrio:</h4>
                            <mat-form-field class="input">
                                <input matInput #barrio maxlength="30" type="text" placeholder="Ingrese su barrio"
                                       formControlName="barrio" required>
                                <mat-hint align="end">{{barrio.value?.length || 0}}/30</mat-hint>
                                <mat-error
                                        *ngIf="secondFormGroup.controls.barrio.touched  || secondFormGroup.controls.barrio.errors?.pattern">
                                    Ingrese la dirección que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="secondFormGroup">
                            <label>Seleccione el tipo de residencia</label>
                            <select matNativeControl required>
                                <option *ngFor="let house of houses" selected="{{house.id===solicitud.house_type_id}}"
                                        value="{{house.id}}">{{house.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-6" [formGroup]="secondFormGroup">
                            <h4>Teléfono:</h4>
                            <mat-form-field class="input">
                                <input matInput #telefono maxlength="30" type="number" placeholder="Ingrese su telefono"
                                       formControlName="telefono" required>
                                <mat-hint align="end">{{telefono.value?.length || 0}}/30</mat-hint>
                                <mat-error
                                        *ngIf="secondFormGroup.controls.telefono.touched  || secondFormGroup.controls.telefono.errors?.pattern">
                                    Ingrese el numero de telefono que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="secondFormGroup">
                            <h4>Correo:</h4>
                            <mat-form-field class="input">
                                <input matInput #correo maxlength="50" type="email" placeholder="Ingrese su correo"
                                       formControlName="correo">
                                <mat-hint align="end">{{correo.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="secondFormGroup.controls.correo.touched  || secondFormGroup.controls.correo.errors?.pattern">
                                    Ingrese el correo que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="card-title">Datos laborales</h2>
                    <div class="row">
                        <div class="col-md-6" [formGroup]="sixFormGroup">
                            <h4>Salario:</h4>
                            <mat-form-field class="input">
                                <input matInput #salario maxlength="50" type="number" placeholder="Ingrese su salario"
                                       formControlName="salario">
                                <mat-hint align="end">{{salario.value?.length || 0}}/10</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.salario.touched  || sixFormGroup.controls.salario.errors?.pattern">
                                    Ingrese el salario que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <h4>Profesión:</h4>
                            <mat-form-field class="input" [formGroup]="sixFormGroup">
                                <input matInput #profesion maxlength="50" placeholder="Ingrese su profesion"
                                       formControlName="profesion">
                                <mat-hint align="end">{{profesion.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.profesion.touched  || sixFormGroup.controls.profesion.errors?.pattern">
                                    Ingrese la profesion que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="this.solicitud.empleado">
                            <h4>Empresa:</h4>
                            <mat-form-field class="input" [formGroup]="sixFormGroup">
                                <input matInput #empresa maxlength="50" placeholder="Ingrese la empresa"
                                       formControlName="empresa">
                                <mat-hint align="end">{{empresa.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.empresa.touched  || sixFormGroup.controls.empresa.errors?.pattern">
                                    Ingrese la empresa que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="this.solicitud.empleado">
                            <h4>Cargo:</h4>
                            <mat-form-field class="input" [formGroup]="sixFormGroup">
                                <input matInput #cargo maxlength="50" placeholder="Ingrese su cargo"
                                       formControlName="cargo">
                                <mat-hint align="end">{{cargo.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.cargo.touched  || sixFormGroup.controls.cargo.errors?.pattern">
                                    Ingrese el cargo que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="this.solicitud.empleado">
                            <h4>Dirección empresa:</h4>
                            <mat-form-field class="input" [formGroup]="sixFormGroup">
                                <input matInput #direccion_empresa maxlength="50"
                                       placeholder="Ingrese la dirección de la empresa"
                                       formControlName="direccion_empresa">
                                <mat-hint align="end">{{direccion_empresa.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.direccion_empresa.touched  || sixFormGroup.controls.direccion_empresa.errors?.pattern">
                                    Ingrese a dirección que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="this.solicitud.empleado">
                            <h4>Telefono Empresa:</h4>
                            <mat-form-field class="input" [formGroup]="sixFormGroup">
                                <input matInput #telefono_trabajo maxlength="10"
                                       placeholder="Ingrese el telefono de la empresa"
                                       formControlName="telefono_trabajo">
                                <mat-hint align="end">{{telefono_trabajo.value?.length || 0}}/10</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.telefono_trabajo.touched  || sixFormGroup.controls.telefono_trabajo.errors?.pattern">
                                    Ingrese el telefono que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <h4>Actividad economica:</h4>
                            <mat-form-field class="input" [formGroup]="sixFormGroup">
                                <input matInput #actividad_independiente maxlength="10"
                                       placeholder="Ingrese la actividad económica"
                                       formControlName="actividad_independiente">
                                <mat-hint align="end">{{actividad_independiente.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.actividad_independiente.touched  || sixFormGroup.controls.actividad_independiente.errors?.pattern">
                                    Ingrese la actividad independiente que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <h4>Otros ingresos:</h4>
                            <mat-form-field class="input" [formGroup]="sixFormGroup">
                                <input matInput #otros_ingresos maxlength="10" placeholder="Ingrese el monto"
                                       formControlName="otros_ingresos">
                                <mat-hint align="end">{{otros_ingresos.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.otros_ingresos.touched  || sixFormGroup.controls.otros_ingresos.errors?.pattern">
                                    Ingrese el monto que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <h4>Procedencia ingresos:</h4>
                            <mat-form-field class="input" [formGroup]="sixFormGroup">
                                <input matInput #procedencia maxlength="10"
                                       placeholder="Ingrese laprocedencia de los ingresos"
                                       formControlName="procedencia">
                                <mat-hint align="end">{{procedencia.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="sixFormGroup.controls.procedencia.touched  || sixFormGroup.controls.procedencia.errors?.pattern">
                                    Ingrese laprocedencia de los ingresos que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <h2 class="card-title">Referencia 1</h2>
                    <div class="row">
                        <div class="col-md-6" [formGroup]="fiveFormGroup">
                            <h4>Nombre:</h4>
                            <mat-form-field class="input">
                                <input matInput #nombre maxlength="100" type="text" placeholder="Ingrese el nombre "
                                       formControlName="nombre" required>
                                <mat-hint align="end">{{nombre.value?.length || 0}}/100</mat-hint>
                                <mat-error
                                        *ngIf="fiveFormGroup.controls.nombre.touched  || fiveFormGroup.controls.nombre.errors?.pattern">
                                    Ingrese el numero de telefono que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="fiveFormGroup">
                            <h4>Direccion:</h4>
                            <mat-form-field class="input">
                                <input matInput #direccion maxlength="50" placeholder="Ingrese la dirección"
                                       formControlName="direccion" required
                                       (change)="change(direccion.value,direccion1.value)">
                                <mat-hint align="end">{{direccion.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="fiveFormGroup.controls.direccion.touched  || fiveFormGroup.controls.direccion.errors?.pattern">
                                    Ingrese la dirección que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="fiveFormGroup">
                            <h4>Teléfono</h4>
                            <mat-form-field class="input">
                                <input matInput #telefono maxlength="20" type="number"
                                       placeholder="Ingrese número telefono"
                                       formControlName="telefono" required>
                                <mat-hint align="end">{{telefono.value?.length || 0}}/20</mat-hint>
                                <mat-error
                                        *ngIf="fiveFormGroup.controls.telefono.touched  || fiveFormGroup.controls.telefono.errors?.pattern">
                                    Ingrese el telefono que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="fiveFormGroup">
                            <h4>Ciudad:</h4>
                            <mat-form-field class="input">
                                <input matInput #ciudad maxlength="20" type="text" placeholder="Ingrese la ciudad"
                                       formControlName="ciudad" required>
                                <mat-hint align="end">{{ciudad.value?.length || 0}}/20</mat-hint>
                                <mat-error
                                        *ngIf="fiveFormGroup.controls.ciudad.touched  || fiveFormGroup.controls.ciudad.errors?.pattern">
                                    Ingrese la ciudad que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="card-title">Referencia 2</h2>
                    <div class="row">
                        <div class="col-md-6" [formGroup]="fiveFormGroup">
                            <h4>Nombre:</h4>
                            <mat-form-field class="input">
                                <input matInput #nombre1 maxlength="100" type="text" placeholder="Ingrese el nombre "
                                       formControlName="nombre1" required>
                                <mat-hint align="end">{{nombre1.value?.length || 0}}/100</mat-hint>
                                <mat-error
                                        *ngIf="fiveFormGroup.controls.nombre1.touched  || fiveFormGroup.controls.nombre1.errors?.pattern">
                                    Ingrese el nombre que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="fiveFormGroup">
                            <h4>Direccion: </h4>
                            <mat-form-field class="input">
                                <input matInput #direccion1 maxlength="50" type="text"
                                       placeholder="Ingrese la dirección"
                                       formControlName="direccion1" required
                                       (change)="change(direccion1.value,direccion.value)">
                                <mat-hint align="end">{{direccion1.value?.length || 0}}/50</mat-hint>
                                <mat-error
                                        *ngIf="fiveFormGroup.controls.direccion1.touched  || fiveFormGroup.controls.direccion1.errors?.pattern">
                                    Ingrese la dirección que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="fiveFormGroup">
                            <h4>Teléfono: </h4>
                            <mat-form-field class="input">
                                <input matInput #telefono1 maxlength="20" type="number"
                                       placeholder="Ingrese número telefono"
                                       formControlName="telefono1" required>
                                <mat-hint align="end">{{telefono1.value?.length || 0}}/20</mat-hint>
                                <mat-error
                                        *ngIf="fiveFormGroup.controls.telefono1.touched  || fiveFormGroup.controls.telefono1.errors?.pattern">
                                    Ingrese el telefono que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" [formGroup]="fiveFormGroup">
                            <h4>Ciudad:</h4>
                            <mat-form-field class="input">
                                <input matInput #ciudad1 maxlength="20" type="text" placeholder="Ingrese la ciudad"
                                       formControlName="ciudad1">
                                <mat-hint align="end">{{ciudad1.value?.length || 0}}/20</mat-hint>
                                <mat-error
                                        *ngIf="fiveFormGroup.controls.ciudad1.touched  || fiveFormGroup.controls.ciudad1.errors?.pattern">
                                    Ingrese la ciudad que va modificar
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions style=" border-bottom-color: red; margin: 1px;  display:flex;justify-content: space-around;">
    <button mat-stroked-button [mat-dialog-close] color="warn"
            style="background: ghostwhite; color:red; width:45%; font-size: 1rem;">Atras
    </button>
    <button mat-stroked-button style="background:red; color:white; width: 50%; font-size: 1rem;"
            (click)="editService()">Actualizar Registro
    </button>
</div>
