<div class="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <img src="assets/images/punto.png" width="70px" class="d-inline-block align-top" alt="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://almaceneselpunto.com/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://almaceneselpunto.com/contact">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://almaceneselpunto.com/gallery">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://checkout.wompi.co/l/D3JATD">Pagar mi crédito</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="info-credit">
    <div class="card-body">
      <swiper class="swiper-container not-mobile" fxFlex="auto" [config]="config">
        <div class="swiper-slide c1 " id="swiper-slide" *ngFor="let img of swipper">
          <img [src]="img" alt=""
               class="swiper-lazy">
        </div>
      </swiper>
      <swiper class="swiper-container mobile" fxflex="auto" [config]="config">
        <div class="swiper-slide c1 " id="swiper-slide-mobile" *ngFor="let img of swippermobile">
          <img [src]="img" alt=""
               class="swiper-lazy">
        </div>
      </swiper>
    </div>
  </section>

  <section class="info-requirement">
    <h4>Conoce mas sobre el crédito del punto</h4>
    <div class="card-body">
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col">
          <span>Cuotas</span>
          <p>Difiere tus cuotas hasta 3 meses</p>
        </div>
        <div class="col">
          <span>0% de interés</span>
          <p>Lleva cualquiera de nuestros productos con el 0% de interés</p>
        </div>
        <div class="col">
          <span>Beneficios</span>
          <p>Puedes comprar en cualquiera de nuestros almacenes</p>

        </div>
        <div class="col">
          <p dir="ltr">Se comunicaran contigo al instante</p>
        </div>
      </div>
    </div>
  </section>
  <section class="info-requirement">
    <h4>Que necesitas para solicitar tu crédito</h4>
    <div class="card-body">
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col">
          <span>Documento</span>
          <p>Cédula de ciudadanía</p>
          <span>Estado</span>
          <p>No estar reportado en las centrales de riesgo</p>
        </div>
        <div class="col">
          <span>Edad</span>
          <p>Ser mayor de 18 años</p>
          <span>Ingresos básicos</span>
          <p>Tener un ingreso mensual fijo superior o igual a 1 SMLV</p>
          <p></p>
        </div>
      </div>
    </div>
  </section>

  <section class="button-redirect">
    <div class="content-button">
      <button mat-button type="button" class="btn btn-success" routerLink="/solicitar">Ir al formulario</button>
    </div>
  </section>
</div>
