.content {
  //background: #EFEFEF !important;
  max-width: 100vw;
}

.navbar {
  color: white !important;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 200;
  width: 100%;
}

.nav-link {
  color: #480000 !important;
}

.btn {
  width: 152vh;
  background: red;
  border-radius: 14px;
  transition: background-color .8s, font-weight .7s;
}

.btn:hover {
  background: #480000;
  font-weight: bold;
  text-decoration: white;
}

.navbar-brand {
  font-weight: bold;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.navbar-brand:hover {
  font-weight: bold;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.info-credit {
  width: 100%;
  height: auto;
}

.info-requirement {
  width: 100%;
  height: auto;
  margin-top: 1vh;
}


.content-img {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-info {
  margin-top: 23px;
}


.content-requeriments {
  width: 100%;
  height: 30vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
}


.content-table {
  width: 96%;
}

span {
  font-weight: bold;
}

h4 {
  text-align: center;
  color: #480000;
}

.document {
  width: 140px;
}


.button-redirect {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-lazy {
  width: 1307px;
  height: 325px;
}

#swiper-slide {
  width: 100%;
  margin-top: 1vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .content {
    max-width: 100vw;
  }
  .swiper-lazy {
    width: 419px;
    height: 450px;
  }
  .btn {
    width: 300px;
    background: red;
    border-radius: 40px;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}

mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.info-tutorial {
  width: 100%;
  height: auto;
  margin-top: 1vh;
  border-radius: 10px;
  background: white;


}

.not-mobile {
  display: block;
  margin-top: 9vh;
}

.mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .not-mobile {
    display: none;
  }

  .mobile {
    display: block;
  }
}
